@page
@model OnlineBankingApp.Pages.Loans.UploadModel

@{
    ViewData["Title"] = "Upload Loan Application";
}

<h1>Apply for a Loan</h1>

<h4></h4>
<hr />
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <br>
    <br>
    <input type="submit" value="Submit" />
</form>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
