@page
@model OnlineBankingApp.Pages.FundTransfers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FundTransfer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FundTransfer.ID" />
            <div class="form-group">
                <label asp-for="FundTransfer.AccountFrom" class="control-label"></label>
                <input asp-for="FundTransfer.AccountFrom" class="form-control" />
                <span asp-validation-for="FundTransfer.AccountFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundTransfer.AccountTo" class="control-label"></label>
                <input asp-for="FundTransfer.AccountTo" class="form-control" />
                <span asp-validation-for="FundTransfer.AccountTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundTransfer.TransactionDate" class="control-label"></label>
                <input asp-for="FundTransfer.TransactionDate" class="form-control" />
                <span asp-validation-for="FundTransfer.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundTransfer.Amount" class="control-label"></label>
                <input asp-for="FundTransfer.Amount" class="form-control" />
                <span asp-validation-for="FundTransfer.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundTransfer.Note" class="control-label"></label>
                <textarea asp-for="FundTransfer.Note" class="form-control"></textarea>
                <span asp-validation-for="FundTransfer.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
